<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.calendar.dao.CalendarMapper">  
	<!-- id는 메서드명과 동일하게 -->
	<!-- <select id="selectList" parameterType="map" resultType="memberCommand">
		SELECT 
			*
		FROM (SELECT
				a.*,
				rownum rnum
			FROM (SELECT 
					*
				FROM spmember m LEFT OUTER JOIN spmember_detail d
				ON m.id = d.id
				<where>
					<if test="keyword != '' and keyfield == 'id'">
						m.id LIKE '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 'name'">
						d.name LIKE '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 'email'">
						d.email LIKE '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 'all'">
						m.id LIKE '%' || #{keyword} || '%' OR d.name LIKE '%' || #{keyword} || '%' OR d.email LIKE '%' || #{keyword} || '%'
					</if>
				</where>
				ORDER BY d.reg_date DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
 	<select id="selectRowCount" parameterType="map" resultType="integer">
 		SELECT 
 			COUNT(*)
 		FROM spmember m LEFT OUTER JOIN spmember_detail d
 		ON m.id = d.id
 		<where>
			<if test="keyword != '' and keyfield == 'id'">
				m.id LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'name'">
				d.name LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'email'">
				d.email LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 'all'">
				m.id LIKE '%' || #{keyword} || '%' OR d.name LIKE '%' || #{keyword} || '%' OR d.email LIKE '%' || #{keyword} || '%'
			</if>
		</where>
 	</select> -->
 	
</mapper>
