<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.spring.advice.dao.AdviceMapper">  

   <!-- <select id="selectList" parameterType="map" resultType="adviceCommand">
   
      SELECT
        *
      FROM (SELECT
            a.*,
            rownum rnum
           FROM (SELECT
                   b.num,
                   <![CDATA[
                   REPLACE(REPLACE(b.title,'<','&lt;'),'>','&gt;') title,                   
                   ]]>
                   b.hit,
                   b.reg_date,
                   b.id,
                   r.re_cnt
                 FROM spboard b LEFT OUTER JOIN (SELECT num,COUNT(*) re_cnt
                                         FROM spboard_reply
                                         GROUP BY num)r
                 ON b.num = r.num
                 where절이 동적으로 들어가는것이다.
                 <where>
                    <if test="keyword != '' and keyfield == 'email'">
                       b.title like '%' || #{keyword} || '%'
                    </if>
                    <if test="keyword != '' and keyfield == 'name'">
                       b.id like '%' || #{keyword} || '%'
                    </if>
                    <if test="keyword != '' and keyfield == 'email'">
                       b.content like '%' || #{keyword} || '%'
                    </if>
                    <if test="keyword != '' and keyfield == 'all'">
                       b.title like '%' || #{keyword} || '%' or 
                       b.id like '%' || #{keyword} || '%' or
                       b.content like '%' || #{keyword} || '%'
                    </if>
                 </where>
                 ORDER BY b.num DESC)a)
      
      <![CDATA[
      WHERE rnum >= #{start} AND rnum <= #{end}
      ]]>               
   
   </select>-->
   <select id="selectRowCount" parameterType="map" resultType="integer">
      
      SELECT
         COUNT(*)
      FROM advice
      
      <!-- sql문 2개를 쓰는것을 하나로 줄일수있다. -->
      <where>
           <if test="keyword != '' and keyfield == 'adv_title'">
              adv_title like '%' || #{keyword} || '%'
           </if>
           <if test="keyword != '' and keyfield == 'email'">
              email like '%' || #{keyword} || '%'
           </if>
           <if test="keyword != '' and keyfield == 'all'">
              adv_title like '%' || #{keyword} || '%' or 
              email like '%' || #{keyword} || '%' or
           </if>
        </where>
   </select>
   
    
</mapper>






